<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [data]="graficos.grafico1.data" [label]="graficos.grafico1.labels" [leyenda]="graficos.grafico1.leyenda" [type]="graficos.grafico1.type"></app-grafico-dona>

            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">



                <app-grafico-dona [data]="graficos.grafico2.data" [label]="graficos.grafico2.labels" [leyenda]="graficos.grafico2.leyenda" [type]="graficos.grafico2.type"></app-grafico-dona>



            </div>
        </div>
    </div>


</div>

<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [data]="graficos.grafico3.data" [label]="graficos.grafico3.labels" [leyenda]="graficos.grafico3.leyenda" [type]="graficos.grafico3.type"></app-grafico-dona>

            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">



                <app-grafico-dona [data]="graficos.grafico4.data" [label]="graficos.grafico4.labels" [leyenda]="graficos.grafico4.leyenda" [type]="graficos.grafico4.type"></app-grafico-dona>



            </div>
        </div>
    </div>


</div>